/*Created with Adobe RoboHelp.*/
.RH-LAYOUT-CENTERPANEL-topic-box {
  font-family: Calibri;
  font-size: 14px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h1, .RH-LAYOUT-FOOTER-container h1 {
  font-weight: bold;
  font-size: 25px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h2, .RH-LAYOUT-FOOTER-container h2 {
  font-weight: bold;
  font-size: 24px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h3, .RH-LAYOUT-FOOTER-container h3 {
  font-weight: bold;
  font-size: 19px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h4, .RH-LAYOUT-FOOTER-container h4 {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h5, .RH-LAYOUT-FOOTER-container h5 {
  font-weight: bold;
  font-size: 13px;
}
.RH-LAYOUT-CENTERPANEL-topic-box h6, .RH-LAYOUT-FOOTER-container h6 {
  font-weight: bold;
  font-size: 11px;
}
.RH-LAYOUT-CENTERPANEL-topic-box p, .RH-LAYOUT-FOOTER-container p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.expandspot, .RH-LAYOUT-FOOTER-container a.expandspot {
  color: #ed7d31;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.expandtext, .RH-LAYOUT-FOOTER-container span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.dropspot, .RH-LAYOUT-FOOTER-container a.dropspot {
  cursor: pointer;
  color: #ed7d31;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.glossterm, .RH-LAYOUT-FOOTER-container a.glossterm {
  color: #ed7d31;
  cursor: pointer;
  font-style: italic;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box span.glosstext, .RH-LAYOUT-FOOTER-container span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol, .RH-LAYOUT-FOOTER-container ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul, .RH-LAYOUT-FOOTER-container ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-caption, .RH-LAYOUT-FOOTER-container a.minitoc-caption {
  text-decoration: none;
  color: #ed7d31;
  font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.minitoc-caption, .RH-LAYOUT-FOOTER-container p.minitoc-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list, .RH-LAYOUT-FOOTER-container ol.minitoc-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.minitoc-list ol, .RH-LAYOUT-FOOTER-container ol.minitoc-list ol {
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a, .RH-LAYOUT-FOOTER-container a {
  font-size: 18px;
  font-weight: bold;
  color: #ed7d31;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.minitoc-list-item, .RH-LAYOUT-FOOTER-container a.minitoc-list-item {
  color: #ed7d31;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box div.breadcrumbs, .RH-LAYOUT-FOOTER-container div.breadcrumbs {}
.RH-LAYOUT-CENTERPANEL-topic-box span.breadcrumbs-home-prefix, .RH-LAYOUT-FOOTER-container span.breadcrumbs-home-prefix {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-home, .RH-LAYOUT-FOOTER-container a.breadcrumbs-home {
  color: #ed7d31;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box .breadcrumbs-separator, .RH-LAYOUT-FOOTER-container .breadcrumbs-separator {}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-link, .RH-LAYOUT-FOOTER-container a.breadcrumbs-link {
  color: #ed7d31;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.breadcrumbs-topic, .RH-LAYOUT-FOOTER-container a.breadcrumbs-topic {
  color: #ed7d31;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.seealso-caption, .RH-LAYOUT-FOOTER-container p.seealso-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.seealso-list, .RH-LAYOUT-FOOTER-container ol.seealso-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.seealso-list-item, .RH-LAYOUT-FOOTER-container a.seealso-list-item {
  color: #ed7d31;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box p.reltopics-caption, .RH-LAYOUT-FOOTER-container p.reltopics-caption {
  font-weight: bold;
  font-size: 16px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol.reltopics-list, .RH-LAYOUT-FOOTER-container ol.reltopics-list {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box a.reltopics-list-item, .RH-LAYOUT-FOOTER-container a.reltopics-list-item {
  color: #ed7d31;
  text-decoration: none;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.Disc, .RH-LAYOUT-FOOTER-container ul.Disc {
  list-style-type: disc;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul.Circle, .RH-LAYOUT-FOOTER-container ul.Circle {
  list-style-type: circle;
}
.RH-LAYOUT-CENTERPANEL-topic-box figure, .RH-LAYOUT-FOOTER-container figure {
  margin-left: 0 px;
}
.RH-LAYOUT-CENTERPANEL-topic-box span, .RH-LAYOUT-FOOTER-container span {
  font-size: 25px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ol>li, .RH-LAYOUT-FOOTER-container ol>li {
  font-size: 18px;
}
.RH-LAYOUT-CENTERPANEL-topic-box ul>li, .RH-LAYOUT-FOOTER-container ul>li {
  font-size: 18px;
}
.RH-LAYOUT-CENTERPANEL-topic-box img.default-image, .RH-LAYOUT-FOOTER-container img.default-image {
  border-left-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-color: #ed7d31;
  border-top-color: #ed7d31;
  border-right-color: #ed7d31;
  border-bottom-color: #ed7d31;
  border-left-width: 5px;
  border-top-width: 5px;
  border-right-width: 5px;
  border-bottom-width: 5px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  vertical-align: middle;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.RH-LAYOUT-CENTERPANEL-topic-box {
  --evenrows-theme-color: #bfbfbf;
  --evenrows-row-color: rgba(191, 191, 191, 0.5);
  --firstcolrow-theme-color: rgb(237, 125, 49);
  --firstcolrow-even-row: rgba(237, 125, 49, 0.5);
  --firstcolrow-odd-row: rgba(237, 125, 49, 0.25);
  --hdrevenrows-theme-color: #ed7d31;
  --hdrevenrows-row-color: rgba(237, 125, 49, 0.25);
  --hdrevenrows-brdr-color: rgba(237, 125, 49, 0.5);
  --hdrevenrowsnobdr-theme-color: #ed7d31;
  --hdrevenrowsnobdr-row-color: rgba(237, 125, 49, 0.25);
  --noborder-theme-color: #ed7d31;
  --thickhdr-theme-color: rgba(244, 176, 131, 1);
  --thickhdr-brdr-color: rgba(244, 176, 131, 0.5);
  --thickhdrevenrows-theme-color: #666666;
  --thickhdrevenrows-row-color: rgba(102, 102, 102, 0.5);
  --borderonly-theme-color: #bfbfbf;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.evenrows, .RH-LAYOUT-FOOTER-container table.evenrows {}
.RH-LAYOUT-CENTERPANEL-topic-box table.evenrows td, .RH-LAYOUT-FOOTER-container table.evenrows td {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--evenrows-theme-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.evenrows tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.evenrows tr:nth-child(even) td {
  background-color: var(--evenrows-row-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.firstcolrow, .RH-LAYOUT-FOOTER-container table.firstcolrow {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.firstcolrow td, .RH-LAYOUT-FOOTER-container table.firstcolrow td {
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.firstcolrow tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.firstcolrow tr:nth-child(even) td {
  background-color: var(--firstcolrow-even-row);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.firstcolrow tr:nth-child(odd) td, .RH-LAYOUT-FOOTER-container table.firstcolrow tr:nth-child(odd) td {
  background-color: var(--firstcolrow-odd-row);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.firstcolrow tr:first-child td, .RH-LAYOUT-FOOTER-container table.firstcolrow tr:first-child td {
  background-color: var(--firstcolrow-theme-color);
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.firstcolrow tr td:first-child, .RH-LAYOUT-FOOTER-container table.firstcolrow tr td:first-child {
  background-color: var(--firstcolrow-theme-color);
  color: #FFFFFF;
  font-weight: bold;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows, .RH-LAYOUT-FOOTER-container table.hdrevenrows {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows td, .RH-LAYOUT-FOOTER-container table.hdrevenrows td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--hdrevenrows-brdr-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows tr:first-child td, .RH-LAYOUT-FOOTER-container table.hdrevenrows tr:first-child td {
  background-color: var(--hdrevenrows-theme-color);
  color: #FFFFFF;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrows tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.hdrevenrows tr:nth-child(even) td {
  background-color: var(--hdrevenrows-row-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrowsnobdr, .RH-LAYOUT-FOOTER-container table.hdrevenrowsnobdr {
  border-collapse: collapse;
  float: left;
  font-size: 18px;
  text-align: left;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrowsnobdr td, .RH-LAYOUT-FOOTER-container table.hdrevenrowsnobdr td {
  border-width: 1px;
  border-style: none;
  border-color: transparent;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrowsnobdr tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.hdrevenrowsnobdr tr:nth-child(even) td {
  background-color: var(--hdrevenrowsnobdr-row-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.hdrevenrowsnobdr tr:first-child td, .RH-LAYOUT-FOOTER-container table.hdrevenrowsnobdr tr:first-child td {
  background-color: var(--hdrevenrowsnobdr-theme-color);
  color: #FFFFFF;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.noborder, .RH-LAYOUT-FOOTER-container table.noborder {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.noborder td, .RH-LAYOUT-FOOTER-container table.noborder td {
  border-width: 2px;
  border-style: solid;
  border-color: var(--noborder-theme-color);
  border-left: 0;
  border-top: 0;
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  vertical-align: center;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.noborder tr:first-child td, .RH-LAYOUT-FOOTER-container table.noborder tr:first-child td {
  border-width: 2px;
  border-style: solid;
  border-color: #FFFFFF;
  border-top: 0;
  border-left: 0;
  background-color: var(--noborder-theme-color);
  color: #FFFFFF;
  border-bottom: 0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.noborder tr:last-child td, .RH-LAYOUT-FOOTER-container table.noborder tr:last-child td {
  border-width: 2px;
  border-style: solid;
  border-color: var(--noborder-theme-color);
  border-left: 0;
  border-bottom: 0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.noborder tr td:last-child, .RH-LAYOUT-FOOTER-container table.noborder tr td:last-child {
  border-right: 0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdr, .RH-LAYOUT-FOOTER-container table.thickhdr {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdr td, .RH-LAYOUT-FOOTER-container table.thickhdr td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--thickhdr-brdr-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdr tr:first-child, .RH-LAYOUT-FOOTER-container table.thickhdr tr:first-child {
  border-width: 3px;
  border-style: solid;
  border-color: var(--thickhdr-theme-color);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdrevenrows, .RH-LAYOUT-FOOTER-container table.thickhdrevenrows {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdrevenrows tr:first-child, .RH-LAYOUT-FOOTER-container table.thickhdrevenrows tr:first-child {
  border-width: 3px;
  border-style: solid;
  border-color: var(--thickhdrevenrows-theme-color);
  border-left: 0;
  border-top: 0;
  border-right: 0;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdrevenrows td, .RH-LAYOUT-FOOTER-container table.thickhdrevenrows td {
  border-width: 1px;
  border-style: solid;
  border-color: var(--thickhdrevenrows-theme-color);
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdrevenrows tr:nth-child(even) td, .RH-LAYOUT-FOOTER-container table.thickhdrevenrows tr:nth-child(even) td {
  background-color: var(--thickhdrevenrows-row-color);
}
.RH-LAYOUT-CENTERPANEL-topic-box table.thickhdrevenrows tr:first-child td, .RH-LAYOUT-FOOTER-container table.thickhdrevenrows tr:first-child td {
  text-align: center;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.borderonly, .RH-LAYOUT-FOOTER-container table.borderonly {
  border-collapse: collapse;
}
.RH-LAYOUT-CENTERPANEL-topic-box table.borderonly td, .RH-LAYOUT-FOOTER-container table.borderonly td {
  padding-top: 2px;
  padding-right: 4px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--borderonly-theme-color);
}